@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
img {
    display:block;
    width: 100%;
}
*/

header {
    background-image: url(/img/background_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

:root {
    --links-item-color: white;
    --banner-title-color: white;
    --title-font-family: 'Fredoka', sans-serif;
    scroll-behavior: smooth;
}