@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --links-item-color: white;
    --banner-title-color: white;
    --button-main: #2091F9; 
    --button-separated: #DEDEDE;
    --text-button-main: #FFFFFF;
    --text-button-separated: #2091F9;
    --pricing-background: #252B42;
    font-family: 'Fredoka', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1024px;
    margin: auto;
}

/* 
img {
    display:block;
    width: 100%;
}
*/
