<div>
    <h3>Pages</h3>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>
<div>
    <h3>Tomothy</h3>
    <nav>
        <ul>
            <li><a href="#">Eleanor Edwards</a></li>
            <li><a href="#">Ted Robertson</a></li>
            <li><a href="#">Annette Russell</a></li>
            <li><a href="#">Jennie Mckinney</a></li>
            <li><a href="#">Gloria Richards</a></li>
        </ul>
    </nav>
</div>
<div>
    <h3>Jane Black</h3>
    <nav>
        <ul>
            <li><a href="#">Philip Jones</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Colleen Russell</a></li>
            <li><a href="#">Marvin Hawkins</a></li>
            <li><a href="#">Bruce Simmmons</a></li>
        </ul>
    </nav>
</div>
<div>
    <img src="img/map.png" alt="You should see map logo">
    <p>7480 Mockingbird Hill undefined</p>
    <img src="img/phone.png" alt="You should see phone logo">
    <p>(239) 555-0108</p>
    <nav>
        <ul>
            <li><a href="#"><img src="img/twitter.png" alt="twitter"> </a></li>
            <li><a href="#"><img src="img/facebook.png" alt="facebook"> </a></li>
            <li><a href="#"><img src="img/linkedin.png" alt="linkedin"> </a></li>
        </ul>
    </nav>
</div>