<div>
    <img src="img/background_header.png" alt="You should see background image">
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <img src="img/logo_center.png" alt="twitter">
    <nav>
        <ul>
            <li><a href="#"><img src="img/twitter.png" alt="twitter"> </a></li>
            <li><a href="#"><img src="img/facebook.png" alt="facebook"> </a></li>
            <li><a href="#"><img src="img/linkedin.png" alt="linkedin"> </a></li>
        </ul>
    </nav>
    <h1>The best products <br> start with Figma</h1>
    <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
    <button> Try For Free </button>
</div>