<nav class="header__nav">
    <ul class="header__nav-links">
        <li class="header__nav-links-item">
            <a href="#">Home</a>
        </li>
        <li class="header__nav-links-item">
            <a href="#">Product</a>
        </li>
        <li class="header__nav-links-item">
            <a href="#">Pricing</a>
        </li>
        <li class="header__nav-links-item">
            <a href="#">About</a>
        </li>
        <li class="header__nav-links-item">
            <a href="#">Contact</a>
        </li>
    </ul>
    <img class="header__nav-image" width="206" src="img/logo_center.png" alt="You should see Figmaland logo">
    <div class="header__nav-social">
        <a href="#"><img width="41" src="img/twitter.png" alt="twitter"> </a>
        <a href="#"><img width="41" src="img/facebook.png" alt="facebook"> </a>
        <a href="#"><img width="41" src="img/linkedin.png" alt="linkedin"> </a>
    </div>
</nav>
