<header class="header">
    <nav class="header__nav">
        <div class="header__nav-links">
            <a href="#">Home</a>
            <a href="#">Product</a>
            <a href="#">Pricing</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <img class="header__nav-image" width="206" src="img/logo_center.png" alt="You should see Figmaland logo">
        <div class="header__nav-social">
            <a href="#"><img width="41" src="img/twitter.png" alt="twitter"> </a>
            <a href="#"><img width="41" src="img/facebook.png" alt="facebook"> </a>
            <a href="#"><img width="41" src="img/linkedin.png" alt="linkedin"> </a>
        </div>
    </nav>
    <div class="header__banner">
        <h1 class="header__banner-title">The best products <br> start with Figma</h1>
        <p class="header__banner-text">Most calendars are designed for teams. Slate is designed for freelancers</p>
        <a href="#" class="button"> Try For Free </a>
    </div>

</header>