<section>
    <h2>Pricing</h2>
    <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div>
        <article>
            <h3>FREE</h3>
            <p>Organize across all apps by hand</p>
            <div>
                <h2>0</h2>
                <p>$</p>
                <p>Per Month</p>
                <p>Pricing Feature</p>
                <p>Pricing Feature</p>
                <p>Pricing Feature</p>
                <p>Pricing Feature</p>
                <p>Pricing Feature</p>
                <p>Pricing Feature</p>
                <button>Order Now</button>
        </article>
        <article>
            <h3>STANDARD</h3>
            <p>Organize across all apps by hand</p>
            <h2>10</h2>
            <p>$</p>
            <p>Per Month</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <button>Order Now</button>
        </article>
        <article>
            <h3>BUSINESS</h3>
            <p>Organize across all apps by hand</p>
            <h2>99</h2>
            <p>$</p>
            <p>Per Month</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <p>Pricing Feature</p>
            <button>Order Now</button>
        </article>
    </div>
</section>