<section class="features">
    <h2 class="features__title">Features</h2>
    <p class="features__subtitle">Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div class="features__cards cards">
        <article class="cards__item">
            <div class="cards__item-image-container">
                <img class="cards__image" width="61" src="img/features/opentype.png" alt="OpenType">
            </div>
            <h3 class="cards__item-image-header"> OpenType features <br> Variable fonts</h3>
            <p class="cards__item-image-subtitle"> Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
        <article class="cards__item">
            <div class="cards__item-image-container">
                <img class="cards__image" width="61" src="img/features/design.png" alt="Design">
            </div>
            <h3 class="cards__item-image-header"> Design with real data</h3>
            <p class="cards__item-image-subtitle"> Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
        <article class="cards__item">
            <div class="cards__item-image-container">
                <img class="cards__image" width="61" src="img/features/fastest.png" alt="Fastest">
            </div>
            <h3 class="cards__item-image-header">Fastest way to take action</h3>
            <p class="cards__item-image-subtitle"> Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
    </div>
    <div class="features__image-container">
                <img class="features__image" src="img/features_woman.png" alt="You should see woman with laptop">
    </div>
    <div class="features__organization">
        <h2 class="features__organization-header">Fastest way to organize</h2>
        <p class="features__organization-subtitle">Most calendars are designed for teams. Slate is designed for
            freelancers</p>
        <button class="features__organization-button">Try For Free</button>
        <div class="features__organization-image-container">
            <img class="features__organization-image" src="img/laptop.png" alt="You should see laptop">
        </div>
    </div>
    <div class="features__subscription">
        <p class="features__subscription-subtitle">At your fingertips</p>
        <h2 class="features__subscription-header">Lightning fast prototyping</h2>
        <p class="features__subscription-header-subtitle">Subscribe to our Newsletter
            <br>Available exclusivery on Figmaland
        </p>
        <input class="features__subscription-placeholder" type="text" placeholder="Your Email" required>
        <button class="features__subscription-button" type="submit">Subscribe</button>
        <div class="features__subscription-image-container">
            <img class="features__subscription-image" src="img/man_and_letter.png" alt="You should see man and letter">
        </div>
    </div>
</section>