<section>
    <h2>Partners</h2>
    <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div>
        <img src="img/partners/google.png" alt="You should see Google logo">
        <img src="img/partners/amazon.png" alt="You should see Amazon logo">
        <img src="img/partners/microsoft.png" alt="You should see Microsoft logo">
        <img src="img/partners/uber.png" alt="You should see Uber logo">
        <img src="img/partners/dropbox.png" alt="You should see Dropbox logo">
        <img src="img/partners/google.png" alt="You should see Google logo">
        <img src="img/partners/uber.png" alt="You should see Uber logo">
        <img src="img/partners/amazon.png" alt="You should see Amazon logo">
    </div>
    <a href="#">Try For Free</a>
</section>