<section>
    <h2>Features</h2>
    <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div>
        <article>
            <img src="img/features/opentype.png" alt="OpenType">
            <h3> OpenType features <br> Variable fonts</h3>
            <p> Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
        <article>
            <img src="img/features/design.png" alt="Design">
            <h3> Design with real data</h3>
            <p> Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
        <article>
            <img src="img/features/fastest.png" alt="Fastest">
            <h3>Fastest way to take action</h3>
            <p> Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
    </div>
    <img src="img/features_woman.png" alt="You should see woman with laptop">
    <div>
        <h2>Fastest way to organize</h2>
        <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
        <button>Try For Free</button>
        <img src="img/laptop.png" alt="You should see laptop">
    </div>
    <div>
        <p>At your fingertips</p>
        <h2>Lightning fast prototyping</h2>
        <p>Subscribe to our Newsletter</p>
        <p>Available exclusivery on Figmaland</p>
        <input type="text" placeholder="Your Email" required>
        <button type="submit">Subscribe</button>
        <img src="img/man_and_letter.png" alt="You should see man and letter">
    </div>
    <div>
</section>