<section>
    <h2>Contact Us</h2>
    <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div>
        <p>Contact us</p>
        <input type="text" placeholder="Your Name" required>
        <input type="text" placeholder="Your Email" required>
        <input type="text" placeholder="Your Message" required>
        <button>Send</button>
    </div>
    <div>
        <img src="img/map.png" alt="You should see map logo">
        <p>6386 Spring St undefined Anchorage,
            <br> Georgia 12473 United States
        </p>
        <img src="img/phone.png" alt="You should see phone logo">
        <p>(843) 555-0130</p>
        <img src="img/mail.png" alt="You should see mail logo">
        <p>willie.jennings@example.com</p>
    </div>
    <img src="img/google_map.png" alt="You should see Google map">
    <a href="#"><img src="img/twitter_blue.png" alt="You should see Twitter logo"></a>
    <a href="#"><img src="img/facebook_blue.png" alt="You should see facebook logo"></a>
    <a href="#"><img src="img/linkedin_blue.png" alt="You should see Linkedin logo"></a>
    </div>
</section>